backup.sh
BCMGX/bin
BCMGX/lib
BCMGX/data
BCMGX/obj
BCMGX/out
BCMGX/testout
BCMGX/malloc.list
BCMGX/src/test/data/cmp/lap3d_7p_50x50x50_*
BCMGX/src/test/data/cmp/lap3d_7p_100x100x100_*
BCMGX/src/test/data/cmp/lap3d_27p_50x50x50_*
BCMGX/src/test/data/cmp/lap3d_27p_100x100x100_*
BCMGX/src/test/data/mtx/lap3d_7p_10x10x10_*
BCMGX/src/test/data/mtx/lap3d_7p_50x50x50_*
BCMGX/src/test/data/mtx/lap3d_27p_10x10x10_*
BCMGX/src/test/data/mtx/lap3d_27p_50x50x50_*
doxygen
matlab/input/lap3d_*
matlab/output/*
SBATCH
*.old.cu
*.old.h
